*
{
    padding: 0;
    margin: 0;
}

#logo-container
{
    width: 190px;
    margin: auto;
    margin-bottom: 25px;
    background-color: #FF0000;
    height: 40px;
    color: #fff;
}

#logo-text
{
    position: relative;
    /* top: 4px; */
    bottom: 16px;
    font-family: 'Be Vietnam', sans-serif;
    font-style: italic;
    font-size: 40px;
    z-index: 99;
}


h2
{
    font-size: 14px;
    font-weight: 100;
}

.link-text
{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 12px;
}

.bg-tint
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    z-index: 0;
}

#wrapper 
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* background-color: #fff; */
    background-image: url("/img/bg-image/christian-martinez-mjs2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    align-items: center;
    justify-content: center;
}

header
{
    text-align: center;
    margin-bottom: 100px;
    padding: 0;
    z-index: 99;

}

#content-container
{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    /* align-items: center; */
}

nav
{
    /* border: 1px solid #fff; */
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 99;
}

nav ul li
{
    list-style: none;
}

nav ul li:hover
{
    background-color: #FF0000;
    display: inline-block;
    cursor: pointer;
    
}

#main-nav
{
    margin-bottom: 30px;
    color: #fff;
    padding-left: 0;
}

#main-nav ul li{
    padding: 10px 0;
}

#main-nav ul li a 
{
    text-decoration: none;
    color: #fff;
}

#social-nav
{
    padding-left: 0;
    margin-top: 25px;
    /* background-color: #fff; */
}

#social-nav ul
{
    display: flex;
    justify-content: end;

}

/* #social-nav ul li
{
    padding-right: 0; 
} */

.social-media-icons
{
    font-size: 18px;
    color: gray;
}

.social-media-icons:hover
{
    color: #fff;
}