*
{
    padding: 0;
    margin: 0;
}

#logo-container
{
    width: 190px;
    margin: auto;
    margin-bottom: 25px;
    background-color: #ff0000;
    height: 40px;
}

#logo-text
{
    position: relative;
    /* top: 4px; */
    bottom: 16px;
    font-family: 'Be Vietnam', sans-serif;
    /* font-style: italic; */
    font-size: 40px;
}


h2
{
    font-size: 14px;
    font-weight: 100;
}

.link-text
{
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#wrapper 
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;;
    align-items: center;
    justify-content: center;
}

header
{
    text-align: center;
    margin-bottom: 100px;
    padding: 0;

}

#content-container
{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    /* align-items: center; */
}

nav
{
    /* border: 1px solid #fff; */
    padding-left: 40px;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li
{
    list-style: none;
}

#main-nav
{
    margin-bottom: 30px;
    color: red;
}

#main-nav ul li{
    padding: 10px 0;
}

#social-nav
{
    padding-left: 0;
}

#social-nav ul
{
    display: flex;
    justify-content: space-around;

}

#social-nav ul li
{
    padding-right: 10px;
}

.social-media-icons
{
    font-size: 20px;
    color: red;
}